@import "variables";

.technology{
    padding: 50px 0;
    padding-top: 100px;
    background-color: $color-background;
    .container{
        header{
            text-align: left;
            margin-bottom: 10px;
            p{
                margin-bottom: 5px;
            }
        }
        article{
            p{
                margin-top: 30px;
            }
            .icons{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .icon{
                    text-align: center;
                    height: 80px;
                    width: 33%;
                    margin: 5px 0;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                p{
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet-portrait){
    .technology{
        .container{
            article{
                p{
                    margin-bottom: 10px;
                }
                .icons{
                    .icon{
                        height: 160px;
                        img{
                            width: 120px;
                            height: 120px;
                        }
                    }
                    .fill-desktop{
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet-landscape){
    .technology{
        .container{
            article{
                p{
                    margin-bottom: 20px;
                }
                .icons{
                    .icon{
                        height: 160px;
                        width: 25%;
                        img{
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-desktop){
    .technology{
        .container{
            article{
                .icons{
                    .icon{
                        height: 130px;
                        width: 16%;
                        img{
                            width: 110px;
                            height: 110px;
                        }
                    }
                    .fill-mobile{
                        display: none;
                    }
                    .fill-desktop{
                        display: inline;
                    }
                }
            }
        }
    }
}