@import "variables";

.technology{
    padding: 50px 0;
    padding-top: 100px;
    background-color: $color-background;
    .container{
        p{
            margin-bottom: 5px;
        }
        header{
            margin-bottom: 10px;
        }
        article{
            p{
                margin-top: 30px;
            }
            .icons{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .icon{
                    text-align: center;
                    height: 80px;
                    width: 33%;
                    margin: 5px 0;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                p{
                    margin: 0;
                }
            }
        }
    }
}